[submodule "couchdb_vm/cookbooks/apt"]
	path = couchdb_vm/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt
[submodule "couchdb_vm/cookbooks/erlang"]
	path = couchdb_vm/cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "couchdb_vm/cookbooks/couchdb"]
	path = couchdb_vm/cookbooks/couchdb
	url = https://github.com/opscode-cookbooks/couchdb.git
